@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 231 20% 27%;
    --card: 0 0% 100%;
    --card-foreground: 231 20% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 20% 27%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 60% 88%;
    --secondary-foreground: 231 20% 27%;
    --muted: 231 60% 88%;
    --muted-foreground: 231 20% 47%;
    --accent: 291 64% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 80%;
    --input: 231 20% 85%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 231 20% 11%;
    --foreground: 0 0% 98%;
    --card: 231 20% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 231 20% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 20% 20%;
    --muted-foreground: 231 20% 60%;
    --accent: 291 64% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 25%;
    --input: 231 20% 25%;
    --ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .cv-print-area, .cv-print-area * {
    visibility: visible;
  }
  .cv-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.95);
    transform-origin: top left;
  }
  @page {
    size: A4;
    margin: 0;
  }
}
